body, h1, h2, h3, h4, h5, h6 {
  font-family: Roboto, sans-serif;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 40px;
}

.year {
  text-align: center;
  font-size: 16px;
  position: relative;
  border-bottom: 1px solid darkgray;
}

.page-content {
  display: block;
  width: 95vw;
  margin: 0 auto;
  position: relative;
}

.relevance {
  margin: 0 0 30px 0;
}

.relevance h3 {
  font-size: small;
  font-weight: bold;
  text-align: center;
}

.relevance-labels h3, .relevance-labels div {
  width: 33.3333%;
  float: left;
  font-size: smaller;
  text-align: center;
}

storytelling-logo svg {
  display: block;
  background: white;
  width: 60px;
  height: 60px;
  position: absolute;
  top: 0;
  right: 0;
}
