.affair-card {
  display: block;
  width: 33.333%;
  background: #EEEEEE;
  padding: 10px;
}

.affair-card::after {
  content: '';
  display: table;
  clear: both;
}

.affair-card--importance-2 {
  position: relative;
  left: 33.333%;
}

.affair-card--importance-3 {  
  position: relative;
  left: 66.6666%;
}

.affair-card-person {
  width: 30%;
  float: right;
}

.affair-card-affair {
  width: 70%;
  float: left;
}

.affair-card-date {
}

.affair-card-type {
  font-weight: bold;
}

.affair-card-fraction {
  text-align: right;
}

.affair-card-portrait {
  width: 100%;
  display: block;
  -webkit-clip-path: circle(50% at center);
}

.affair-card-partycircle {
  border-radius: 50%;
  width: 60%;
  border: 5px solid red;
}

.affair-card-partycircle--party-S {
  border-color: #b31200;
}

.affair-card-partycircle--party-C {
  border-color: #bb7b00;
}

.affair-card-partycircle--party-V { /* SVP */
  border-color: #00a0a6;
}

.affair-card-partycircle--party-G { /* GPS */
  border-color: #5b981a;
}
