.timeline {
  display: block;
  position: relative;
  height: 30px;
  width: 100%;
  margin: 50px 0;
}

.timeline::before {
  content: '';
  height: 1px;
  width: 100%;
  position: absolute;
  top: 10px;
  background: #CCCCCC;
}

.timeline-circle {
  position: absolute;
  background: rgba(195,25,6,0.3);
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.timeline-date {
  position: absolute;
  top: 20px;
}

.timeline-date--first {

}

.timeline-date--last {
  right: 0;
}
